* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* 62.5%: 1rem = 10px */
  scroll-behavior: smooth;
}
body {
  font-family: 'Roboto', serif;
  font-size: 1.6rem;
  font-weight: 300;
  color: #413d4b;
  text-align: center;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background: #fff;
}

#wrapper {
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
  max-width: 992px;
}

main {
  display: flex; /* add flex to reorder child sections */
}

section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#skills {
  display: flex;
  flex-direction: column;
  order: 1;
  background: #171347;
}
#profile {
  order: 2;
}
